@import "tailwindcss";

:root {
  --color-bg: #F8F8FB;
  --color-text: #1E1E1E;
  --color-accent: #6C3BF5;
  --color-accent-dark: #3A0CA3;
  --color-accent-light: #CDB4FF;
  --color-highlight: #FFD447;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-highlight);
}